# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Testing
coverage

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# CI/CD
.github

# Env files
.env*
!.env.example

# Misc
*.md
LICENSE
