@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-inda-white: #fafafa;
  --color-inda-teal: #54a6a6;
  --color-inda-gray: #eaeaea;
  --color-inda-light: #f7fafc;
  --color-inda-yellow: #f3f1a0;
  --color-inda-dark: #101820;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --inda-white: #151a1e;
    --inda-teal: #f3f1a0;
    --inda-gray: #22272b;
    --inda-light: #0a0a0a;
    --inda-yellow: #54a6a6;
    --inda-dark: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

button {
  background-color: var(--inda-teal);
  color: var(--inda-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
